.title {
  font-weight: 400;
  font-size: 35px;
}

.rating_container {
  display: flex;
  gap: 10px;
}

/* .rating {
} */

.overview:hover {
  overflow-y: auto;
}

.overview {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  height: 120px;
  overflow-y: hidden;
  margin-top: 10px;
}

.watch_trailer_btn {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.watch_trailer_btn:hover {
  background-color: #ddd;
}