.container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 4px;
    cursor: pointer;
    width: fit-content;
}

.option {
    padding: 4px 12px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.active {
    background-color: white;
    color: black;
}