.flexContainer {
  display: flex;
  cursor: pointer;
  width: fit-content;
}

.img {
  height: 35px;
  width: 35px;
}

.title {
  font-size: 25px;
  font-weight: 400;
  padding-left: 5px;
}

.subtitle {
  margin-left: 5px;
  white-space: nowrap;
}
