.container {
  position: relative;
  width: 100%;
}

@media (min-width: 992px) {
  .container {
    width: 50%;
  }
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  pointer-events: none;
}

.input {
  border-radius: 30px;
  background-color: #d9d9d96e;
  height: 30px;
  color: white;
  font-weight: 100;
  font-size: 20px;
  width: 100%;
  border-color: transparent;
  padding: 18px 18px 18px 50px;
}

input::placeholder {
  color: lightgray;
}

input:focus {
  outline-width: 0;
  border: solid 1px white;
}